.home-container {
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;
}

#home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 5em;
    }
    .nav-buttons {
      display: flex;
      .button-link {
        text-decoration: none;
        .nav-button {
          display: block;
          text-align: center;
          text-transform: none;
          text-decoration: none;
          &.large {
            padding: 50px;
            font-size: 5em;
          }
        }
      }
    }
    .container {
      height: 100%;
  
      &__aside,
      &__content {
        height: 100%;
      }
  
      &__content {
        padding: 24px;
        border-bottom-right-radius: 0;
  
        .static__content {
          margin-bottom: 20px;
        }
  
        .instances {
          overflow-y: scroll;
          // total height - toobar - static content - padding
          max-height: calc(100vh - 64px - (87px + 20px) - 24px);
          padding-bottom: 24px;
        }
      }
  
      &__aside {
        .filters {
          &__subheader {
            display: flex;
            align-items: center;
            color: black;
  
            &:hover {
              cursor: pointer;
            }
  
            svg {
              margin-right: 8px;
            }
          }
  
          .filter {
            &__color {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              margin: 0 0.75em 0 0;
              display: inline-block;
  
              &--purple {
                background: purple;
              }
  
              &--green {
                background: green;
              }
  
              &--orange {
                background: orange;
              }
  
              &--red {
                background: red;
              }
            }
  
            svg {
              font-size: 1em;
              margin: 0 4px;
            }
          }
        }
      }
    }
  }
  