.navListPaper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navList {
      display: flex;
      flex-direction: row;
      align-items: center;
      [class^="MuiListItemIcon-root"] {
        justify-content: center;
      }
    }
    .nav-tooltip {
      font-size: 1em !important;
    }
  }